#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keymap_jp.h"

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q          &kp W         &kp E         &kp R          &kp T                                           &kp Y          &kp U         &kp I          &kp O         &kp P
&mt LGUI A     &mt LALT S    &mt LCTRL D   &mt LSHIFT F   &kp G        &kp LS(LG(S))         &kp JP_MINUS  &kp H          &mt RSHIFT J  &mt RCTRL K   &mt RALT L    &mt RGUI JP_SEMI
&kp Z          &kp X         &kp C         &kp V          &kp B        &kp ENTER             &kp BSPC      &kp N          &kp M         &kp JP_COMMA  &kp JP_DOT    &kp JP_SLASH
&kp LEFT_GUI   &kp LEFT_ALT  &kp LEFT_CONTROL  &kp TAB      &kp SPACE    &lt 1 ENTER             &mo 2         &kp RIGHT_ALT                                  &kp DEL
            >;
        };

        NUM {
            bindings = <
&trans  &kp N7  &kp N8  &kp N9  &trans                       &kp JP_AMPS   &kp JP_ASTRK  &kp JP_LPAR   &kp JP_RPAR  &trans
&trans  &kp N4  &kp N5  &kp N6  &trans  &trans      &trans   &kp JP_UNDER  &kp JP_PLUS   &kp JP_LBRC   &kp JP_RBRC  &trans
&trans  &kp N1  &kp N2  &kp N3  &trans  &trans      &trans   &kp JP_MINUS  &kp JP_EQUAL  &kp JP_LBKT   &kp JP_RBKT  &trans
&trans  &kp N0  &kp N0  &kp N0  &trans  &trans      &trans   &trans                                     &trans
            >;
        };

        SYM {
            bindings = <
&kp JP_EXCL  &kp JP_AT    &kp JP_HASH   &kp JP_DLLR   &kp JP_PRCNT                     &kp JP_CARET  &kp JP_AMPS  &kp JP_ASTRK  &kp JP_LPAR   &kp JP_RPAR
&kp JP_DQT   &kp JP_SQT   &kp JP_GRAVE  &kp JP_TILDE  &kp JP_PIPE   &trans      &trans    &kp JP_MINUS  &kp JP_EQUAL  &kp JP_PLUS   &kp JP_UNDER  &kp JP_BSLH
&kp JP_LT    &kp JP_RT    &kp JP_LBKT   &kp JP_RBKT   &kp JP_QMARK  &trans      &trans    &kp JP_LBRC   &kp JP_RBRC   &kp JP_SLASH  &kp JP_COLON  &kp JP_SEMI
&trans       &trans       &trans        &trans        &trans        &trans      &trans    &kp JP_KANA                                   &kp JP_EISU
            >;
        };
    };
};
